table
{
    border-collapse: collapse;
}

table, th, td
{
    border: 1px solid black;
}

#GameDiv
{
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    text-align: center;
    vertical-align: middle;
    font-family: "Courier New", Courier, monospace;
}

td.Cell
{
    width: 25px;
    height: 25px;
}

td.Filled
{
    background-color: #f0f0f0;
}

td.TriggeredMine
{
    background-color: red;
}

span.MineCell
{
    font-size: 15px;
}

span.MineCountCell
{
    font-size: 20px;
    font-weight: bold;
}

span.Mine1
{
    color: blue;
}

span.Mine2
{
    color: green;
}

span.Mine3
{
    color: red;
}

span.Mine4
{
    color: purple;
}

span.Mine5
{
    color: maroon;
}

span.Mine6
{
    color: turquoise;
}

span.Mine7
{
    color: black;
}

span.Mine8
{
    color: gray;
}
